// @import "~bootstrap/scss/bootstrap";
@import "colors";

$bgC: rgb(76, 0, 255);
@font-face{
	font-family: "Titillium";
	src: url("./Font/TitilliumWeb-ExtraLight.ttf");
}
*{
	font-family: Titillium, Courier, monospace;
	font-weight: bolder;
}
.header{
	height: 4vh;
	display: flex;
	justify-content: center;
	.title{
		color: rgb(0, 0, 0);
		font-weight: bolder;
		margin-top: 5px;
		text-shadow: 2px 3px 5px $BGCL2;
		font-size: larger;
	}
}

#sidebar {
	position: fixed;
	width: 250px;
	height: 100vh;
	top: 0;
	left: -250px;
	
	margin: 0;
	z-index: 2;
	
	// font properties
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: #fff;
	
	background-image: linear-gradient(rgba(12, 12, 12, 0.452), rgba(0, 0, 0, 0)),
	  url("https://i.pinimg.com/originals/af/8d/63/af8d63a477078732b79ff9d9fc60873f.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: inherit calc(100vh + 160px);
	background-position-x: -365px;
	background-position-y: -180px;
	

	transition: left 0.3s linear;
	&.active{
		left: 0px;
	}

	// children's padding.
	.sidebar-header {padding: 20px;}
	ul{padding: 0;}
}
#dismiss {
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #7387d500;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	transition: all 0.3s;
	&:hover{
		background: rgb(255, 255, 255);
		color: rgb(23, 24, 88);
	}
}

.btn-sidebar-state{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;// set to 3 if you want to let it be at the top of the sidebar.
}


#sidebar ul li a {
	padding: 10px; // add 10 px on each side of the link to make it bigger.
	font-size: 1.1em;
	text-decoration: none;
	display: block;
	color: #ffffff;
	transition: all 0.3s linear;
	&:hover{
		color: #ffffff;
		background: rgba(99, 99, 99, 0.863);
	}
  }



